page {
  height: 100%;
  overflow: hidden;
  font-size: 28rpx;
}
view{
  box-sizing: border-box;
}

.scroll-list::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;/* Chrome Safari */
  display: none;
}
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 28rpx;
  color: #333333;
}

wh(w,h=w){
  width: w;
  height: h; 
}
